<%= form_for @device do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name, "Název" %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :ip_address, "IP adresa" %><br />
    <%= f.text_field :ip_address %>
  </p>
  <p class="form-submit">
    <%= f.submit "Uložit" %> nebo <%= link_to "Zpět", :back %>
  </p>
<% end %>
