<% title "Devices" %>

<table>
  <tr>
    <th>Name</th>
    <th>Ip Address</th>
    <th>Online</th>
  </tr>
  <% for device in @devices %>
    <tr>
      <td><%= device.name %></td>
      <td><%= device.ip_address %></td>
      <td><%= device.online %></td>
      <td><%= link_to "Show", device %></td>
      <td><%= link_to "Edit", edit_device_path(device) %></td>
      <td><%= link_to "Destroy", device, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Device", new_device_path %></p>
