<% title "Zařízení" %>

<table>
	<tr>
		<th>Název</th>
		<th>IP adresa</th>
		<th>Stav</th>
	</tr>
	<% @devices.each do |device| %>
	<tr>
		<td><%= device.name %></td>
		<td><%= device.ip_address %></td>
		<td><%= device.current_state %></td>
		<td><%= link_to "Zobrazit", device %></td>
		<td><%= link_to "Upravit", edit_device_path(device) %></td>
		<td><%= link_to "Smazat", device, :confirm => 'Jste si jist?', :method => :delete %></td>
	</tr>
	<% end %>
</table>

<p><%= link_to "Přidat zařízení", new_device_path %></p>
