<% title "Zařízení #{@device}" %>

<p>
	<strong>Název:</strong>
	<%= @device.name %>
</p>
<p>
	<strong>IP adresa:</strong>
	<%= @device.ip_address %>
</p>
<p>
	<strong>Stav:</strong>
	<%= @device.current_state_name %>
</p>
<p>
	<strong>Adresa:</strong>
	<%= @device.current_log_address.try(:to_address) %>
</p>
<p>
	<strong>Poslední komunikace:</strong>
	<%= @device.last_communication_at.present? ? l(@device.last_communication_at, :format => :long) : nil %>
</p>
<p>
	<strong>Poslední komunikace trvala:</strong>
	<%= @device.last_communication_took %>ms
</p>
<p>
	<strong>Načtený rozsah paměti:</strong>
	<%= @device.start_log_address.try(:to_address) %> - <%= @device.end_log_address.try(:to_address) %>
</p>


<p class="action-buttons right">
	<% if @device.offline? %>
		<%= link_to "Aktivovat", device_path(@device, :device => { :current_state => "online" }), :method => :put, :class => 'button-link' %>
	<% else %>
	    <%= link_to "Deaktivovat", device_path(@device, :device => { :current_state => "offline" }), :method => :put, :class => 'button-link' %>
	<% end %>
	<%= link_to "Upravit", edit_device_path(@device), :class => 'button-link' %>
	<%= link_to "Odstranit", @device, :confirm => 'Are you sure?', :method => :delete, :class => 'button-link' %>
	<%= link_to "Zobrazit všechna zařízení", devices_path, :class => 'button-link' %>
	<%= link_to "Pakety", [@device, :packets], :class => 'button-link' %>
	<%= link_to "Chybová hlášení", [@device, :error_messages], :class => 'button-link' %>
</p>