<% title "Zařízení #{@device}" %>

<p>
	<strong>Název:</strong>
	<%= @device.name %>
</p>
<p>
	<strong>IP adresa:</strong>
	<%= @device.ip_address %>
</p>
<p>
	<strong>Stav:</strong>
	<%= @device.current_state %>
</p>
<p>
	<strong>Adresa:</strong>
	<%= @device.current_log_address.to_address %>
</p>
<p>
	<strong>Poslední komunikace:</strong>
	<%= l @device.last_communication_at %>
</p>
<p>
	<strong>Poslední komunikace trvala:</strong>
	<%= @device.last_communication_took %>ms
</p>

<p>
	<%= link_to "Upravit", edit_device_path(@device) %> |
	<%= link_to "Odstranit", @device, :confirm => 'Are you sure?', :method => :delete %> |
	<%= link_to "Zobrazit všechna zařízení", devices_path %> |
	<%= link_to "Pakety", [@device, :packets] %> |
	<%= link_to "Chybová hlášení", [@device, :error_messages] %>
</p>
