<% title "Vyčtená data ze zařízení #{@device}" %>

<p class="action-buttons right">
  <%= link_to "Zpět na zařízení", @device, :class => 'button-link' %>
</p>

<% if @packets.any? %>
  <table class="list-table" cellspacing="0">
    <tr>
      <th class="right">ID sekvence</th>
      <th class="right">Adresa</th>
      <th>Data</th>
      <th>&nbsp;</th>
    </tr>
    <% @packets.each do |packet| %>
      <tr>
        <td class="right"><%= packet.sequence_id %></td>
        <td class="right"><%= packet.address.to_address %></td>
        <td><%= packet.data %></td>
        <td class="action-links">
          <%= link_to "Zobrazit", [@device, packet], :class => 'icon-link show-link' %>
          <%= link_to "Odstranit", [@device, packet], :confirm => 'Jste si jist?', :method => :delete, :class => 'icon-link destroy-link' %>
        </td>
      </tr>
    <% end %>
  </table>
  <%= will_paginate %>
<% else %>
  <p>Ze zařízení nebyla vyčtena žádná data.</p>
<% end %>
