<% title "Paket" %>

<p>
	<strong>Zařízení:</strong>
	<%= @packet.device %>
</p>
<p>
	<strong>Adresa:</strong>
	<%= @packet.address.to_address %>
</p>
<p>
	<strong>Data:</strong>
	<%= @packet.data %>
</p>

<p>
	<%= link_to "Odstranit", [@device, @log], :confirm => 'Jste si jist?', :method => :delete %> |
	<%= link_to "Zobrazit všechny pakety", [@device, :packets] %>
</p>
