<% title "Chybová hlášení zařízení #{@device}" %>
<%= link_to "Zpět na zařízení", @device %>
<table>
	<tr>
		<th>Zařízení</th>
		<th>Chyba</th>
	</tr>
	<% @error_messages.each do |error_message| %>
	<tr>
		<td><%= error_message.device %></td>
		<td><%= error_message.title %></td>
		<td><%= link_to "Zobrazit", [@device, error_message] %></td>
		<td><%= link_to "Odstranit", [@device, error_message], :confirm => 'Jste si jist?', :method => :delete %></td>
	</tr>
	<% end %>
</table>

