<% title "Logs" %>
<%= link_to "Zařízení", devices_path %>
<table>
	<tr>
		<th>Device</th>
		<th>Address</th>
	</tr>
	<% for log in @logs %>
	<tr>
		<td><%= log.device %></td>
		<td><%= log.address.to_address %></td>
		<td><%= log.raw_data.unpack("H*").first %></td>
		<td><%= link_to "Show", [@device, log] %></td>
		<td><%= link_to "Destroy", [@device, log], :confirm => 'Are you sure?', :method => :delete %></td>
	</tr>
	<% end %>
</table>

