<% title "Log" %>

<p>
  <strong>Device:</strong>
  <%= @log.device %>
</p>
<p>
  <strong>Address:</strong>
  <%= @log.address %>
</p>
<p>
  <strong>Data:</strong>
  <%= @log.raw_data.unpack("H*").first %>
</p>

<p>
  <%= link_to "Destroy", [@device, @log], :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", [@device, :logs] %>
</p>
